<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En los zapatos del cliente - Walmart</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        walmart: {
                            blue: '#0053e2',
                            blueHover: '#0042b5',
                            spark: '#ffc220',
                            grayBg: '#f2f8fc',
                            text: '#2e2f32'
                        }
                    }
                }
            }
        }
    </script>
    <script>
        // Datos reales de locales por formato (Región Metropolitana)
        const localesPorFormato = {
  "Lider": [
    "3 - H - Suc. 003 Ñuñoa (4 Hiper RM Oriente)",
    "32 - H - Suc. 032 Gran Avenida (6 Hiper RM SurOriente)",
    "41 - H - Suc. 041 Huechuraba (4 Hiper RM Oriente)",
    "44 - H - Suc. 044 Quilin (4 Hiper RM Oriente)",
    "45 - H - Suc. 045 Vespucio Maipu (5 Hiper RM SurPoniente)",
    "46 - H - Suc. 046 Avenida Central (5 Hiper RM SurPoniente)",
    "48 - H - Suc. 048 Cordillera (6 Hiper RM SurOriente)",
    "49 - H - Suc. 049 Quilicura (2 Hiper IV y RM)",
    "54 - H - Suc. 054 Vicuña Mackenna (6 Hiper RM SurOriente)",
    "55 - H - Suc. 055 Macul (4 Hiper RM Oriente)",
    "57 - H - Suc. 057 Buenaventura (4 Hiper RM Oriente)",
    "62 - H - Suc. 062 Plaza Vespucio (6 Hiper RM SurOriente)",
    "66 - H - Suc. 066 Talagante (5 Hiper RM SurPoniente)",
    "71 - H - Suc. 071 Vespucio Sur (4 Hiper RM Oriente)",
    "72 - H - Suc. 072 Alameda (5 Hiper RM SurPoniente)",
    "73 - H - Suc. 073 Puente Alto (6 Hiper RM SurOriente)",
    "75 - H - Suc. 075 Maipu (5 Hiper RM SurPoniente)",
    "76 - H - Suc. 076 Departamental (6 Hiper RM SurOriente)",
    "77 - H - Suc. 077 Independencia (2 Hiper IV y RM)",
    "80 - H - Suc. 080 Los Morros (6 Hiper RM SurOriente)",
    "82 - H - Suc. 082 San Bernardo (6 Hiper RM SurOriente)",
    "83 - H - Suc. 083 Santa Amalia (6 Hiper RM SurOriente)",
    "85 - H - Suc. 085 Lonquen (5 Hiper RM SurPoniente)",
    "86 - H - Suc. 086 Recoleta (2 Hiper IV y RM)",
    "87 - H - Suc. 087 Santa Rosa (6 Hiper RM SurOriente)",
    "88 - H - Suc. 088 Los Dominicos (4 Hiper RM Oriente)",
    "95 - H - Suc. 095 La Reina (4 Hiper RM Oriente)",
    "97 - H - Suc. 097 Puente Nuevo (4 Hiper RM Oriente)",
    "137 - H - Suc. 137 San Pablo (5 Hiper RM SurPoniente)",
    "182 - H - Suc. 182 Buin (7 Hiper VI - VII)",
    "607 - H - Suc. 607 Melipilla (5 Hiper RM SurPoniente)",
    "616 - H - Suc. 616 Maipú 3 Poniente (5 Hiper RM SurPoniente)",
    "620 - H - Suc. 620 Nos (7 Hiper VI - VII)",
    "626 - H - Suc. 626 Príncipe de Gales (4 Hiper RM Oriente)",
    "671 - H - Suc. 671 Lo Marcoleta (2 Hiper IV y RM)",
    "682 - H - Suc. 682 San Joaquin (6 Hiper RM SurOriente)",
    "693 - H - Suc. 693 La Pintana (6 Hiper RM SurOriente)",
    "736 - H - Suc. 736 Peñaflor (5 Hiper RM SurPoniente)",
    "739 - H - Suc 739 Midmall (5 Hiper RM SurPoniente)",
    "748 - H - Suc. 748 Renca Miraflores (2 Hiper IV y RM)",
    "798 - H - Suc. 798 Lo Blanco (6 Hiper RM SurOriente)",
    "910 - H - Suc. 910 La Farfana (5 Hiper RM SurPoniente)"
  ],
  "Express": [
    "1 - E - Suc. 001 Plaza Lyon (10 Exp. IV y RM)",
    "2 - E - Suc. 002 Pedro de Valdivia (12 Exp. RM NorOriente)",
    "4 - E - Suc. 004 Vitacura (12 Exp. RM NorOriente)",
    "8 - E - Suc. 008 Colón (12 Exp. RM NorOriente)",
    "15 - E - Suc. 015 Estoril (12 Exp. RM NorOriente)",
    "16 - E - Suc. 016 La Dehesa (12 Exp. RM NorOriente)",
    "18 - E - Suc. 018 Manuel Montt (10 Exp. IV y RM)",
    "51 - E - Suc. 051 Tobalaba (12 Exp. RM NorOriente)",
    "52 - E - Suc. 052 Grecia (13 Exp. RM SurOriente)",
    "56 - E - Suc. 056 Gran Avenida (14 Exp. RM Centro Sur Poniente)",
    "60 - E - Suc. 060 José María Caro (12 Exp. RM NorOriente)",
    "61 - E - Suc. 061 Maipú (14 Exp. RM Centro Sur Poniente)",
    "65 - E - Suc. 065 Plaza Italia (13 Exp. RM SurOriente)",
    "74 - E - Suc. 074 Tomás Moro (12 Exp. RM NorOriente)",
    "139 - E - Suc. 139 Colina (12 Exp. RM NorOriente)",
    "140 - E - Suc. 140 Las Rejas (14 Exp. RM Centro Sur Poniente)",
    "149 - E - Suc. 149 Colina (10 Exp. IV y RM)",
    "165 - E - Suc. 165 Irarraz/Plaz.Egañ (13 Exp. RM SurOriente)",
    "174 - E - Suc. 174 Isabel Riquelme (14 Exp. RM Centro Sur Poniente)",
    "180 - E - Suc. 180 Irarrazaval (13 Exp. RM SurOriente)",
    "188 - E - Suc. 188 Isa. La Catolica (12 Exp. RM NorOriente)",
    "189 - E - Suc. 189 Salvador Ñuñoa (13 Exp. RM SurOriente)",
    "196 - E - Suc. 196 Jose Dgo. Cañas (13 Exp. RM SurOriente)",
    "201 - EKONO San Diego Ltda. (17 Express 400)",
    "202 - EKONO Curico Ltda. (17 Express 400)",
    "203 - EKONO San Pablo y Esp. Ltda. (17 Express 400)",
    "204 - EKONO Provid. y Ant. Bellet L. (17 Express 400)",
    "205 - EKONO Bandera Ltda. (17 Express 400)",
    "206 - EKONO ULA Ltda. (17 Express 400)",
    "207 - EKONO Colombia y W.Martinez L. (17 Express 400)",
    "208 - EKONO Pte.Alto y J.Luis Coo L. (17 Express 400)",
    "209 - EKONO Pedro de Valdivia Ltda. (17 Express 400)",
    "210 - EKONO Recoleta y Einstein Ltda (17 Express 400)",
    "211 - EKONO Coventry y Simón B. Ltda (17 Express 400)",
    "213 - EKONO Tobalaba y Hortencias L. (17 Express 400)",
    "215 - EKONO Grajales Ltda. (17 Express 400)",
    "216 - EKONO El Olimpo Ltda. (17 Express 400)",
    "217 - EKONO Los Leones Ltda. (17 Express 400)",
    "218 - EKONO Santa Isabel Ltda. (17 Express 400)",
    "227 - EKONO Galileo Ltda. (17 Express 400)",
    "228 - EKONO Vitacura Ltda. (17 Express 400)",
    "229 - EKONO Ramón Cruz y Quilín Ltda (17 Express 400)",
    "230 - EKONO Irarrazaval Ltda. (17 Express 400)",
    "233 - EKONO Carrascal Ltda. (17 Express 400)",
    "235 - EKONO Primo de Rivera Ltda. (17 Express 400)",
    "239 - EKONO Bagdad Ltda. (17 Express 400)",
    "242 - EKONO Los Leones II Ltda. (17 Express 400)",
    "245 - EKONO Laguna Sur II Ltda. (17 Express 400)",
    "246 - EKONO San Pablo II Ltda. (17 Express 400)",
    "247 - EKONO V. Mackenna II Ltda. (17 Express 400)",
    "248 - E - Suc. 248 Arauco Quilicura (10 Exp. IV y RM)",
    "252 - E - Suc. 252 Calera de Tango (14 Exp. RM Centro Sur Poniente)",
    "253 - E - Suc. 253 Algarrobal (12 Exp. RM NorOriente)",
    "256 - EKONO J. Monckeberg Ltda. (17 Express 400)",
    "257 - EKONO Eliodoro Yañez Ltda. (17 Express 400)",
    "258 - EKONO Las Rejas Sur Ltda. (17 Express 400)",
    "267 - EKONO Peñaflor Ltda. (17 Express 400)",
    "268 - EKONO Independencia I Ltda. (17 Express 400)",
    "269 - EKONO El Salto Ltda. (17 Express 400)",
    "271 - EKONO Santa Isabel II Ltda. (17 Express 400)",
    "274 - EKONO Santa Luisa Ltda. (17 Express 400)",
    "275 - EKONO BellavistaLtda. (17 Express 400)",
    "276 - E - Suc. 276 Valle Grande (10 Exp. IV y RM)",
    "280 - EKONO Ciudad del Sol Ltda. (17 Express 400)",
    "285 - EKONO 2ª Transversal Ltda. (17 Express 400)",
    "294 - EKONO 1º Transversal Ltda. (17 Express 400)",
    "299 - EKONO Sub Centro Ltda. (17 Express 400)",
    "420 - EKONO Avda. Central Ltda. (17 Express 400)",
    "421 - EKONO El Descanso Ltda. (17 Express 400)",
    "422 - EKONO Manquehue Sur Ltda. (17 Express 400)",
    "430 - EKONO Portugal Ltda. (17 Express 400)",
    "431 - EKONO Cabo de Hornos Ltda. (17 Express 400)",
    "438 - EKONO Lo Cruzat Ltda. (17 Express 400)",
    "442 - EKONO Simon Bolivar Ltda. (17 Express 400)",
    "443 - EKONO Lo Barnechea Ltda. (17 Express 400)",
    "445 - EKONO IV Poniente (17 Express 400)",
    "458 - EKONO Monjitas Ltda. (17 Express 400)",
    "461 - EKONO Cerro Blanco Ltda. (17 Express 400)",
    "469 - EKONO Ovalle (17 Express 400)",
    "484 - EKONO Independencia Hospital (17 Express 400)",
    "496 - EKONO La Cisterna (17 Express 400)",
    "498 - EKONO Froilan Roa (17 Express 400)",
    "525 - E - Suc. 525 Laguna del Sol (14 Exp. RM Centro Sur Poniente)",
    "603 - E - Suc. 603 Consistorial (13 Exp. RM SurOriente)",
    "610 - E - Suc. 610 Nonato Coo (13 Exp. RM SurOriente)",
    "611 - E - Suc. 611 Rojas Magallanes (13 Exp. RM SurOriente)",
    "613 - E - Suc. 613 Ciudad del Este (13 Exp. RM SurOriente)",
    "614 - E - Suc. 614 Larapinta (10 Exp. IV y RM)",
    "621 - E - Suc. 621 Merced (10 Exp. IV y RM)",
    "624 - E - Suc. 624 Plaza los Dominic (12 Exp. RM NorOriente)",
    "640 - E - Suc. 640 Diez de Julio (14 Exp. RM Centro Sur Poniente)",
    "643 - E - Suc. 643 México (13 Exp. RM SurOriente)",
    "656 - E - Suc. 656 San Martin Buin (14 Exp. RM Centro Sur Poniente)",
    "674 - E - Suc. 674 Pedro Fontova (12 Exp. RM NorOriente)",
    "676 - E - Suc. 676 San Pablo (10 Exp. IV y RM)",
    "677 - E - Suc. 677 Santa Isabel (13 Exp. RM SurOriente)",
    "685 - E - Suc. 685 Santo Domingo (10 Exp. IV y RM)",
    "689 - E - Suc. 689 Sn Martin Down To (10 Exp. IV y RM)",
    "699 - E - Suc. 699 Santa Rosa (10 Exp. IV y RM)",
    "728 - E - Suc. 728 Portugal (13 Exp. RM SurOriente)",
    "744 - E - Suc. 744 El Rosal (14 Exp. RM Centro Sur Poniente)",
    "802 - E - Suc. 802 Camilo Henriquez (13 Exp. RM SurOriente)",
    "934 - E - Suc. 934 Pie Andino (12 Exp. RM NorOriente)",
    "940 - E - Suc. 940 Lo Campino (10 Exp. IV y RM)",
    "963 - E - Suc. 963 C. de los Valles (14 Exp. RM Centro Sur Poniente)"
  ],
  "SBA": [
    "7 - SBA - Paine (816 Santiago Sur)",
    "161 - SBA - Puente Alto (816 Santiago Sur)",
    "170 - SBA - Quilicura (814 Santiago Norte)",
    "171 - SBA - San Bernardo (814 Santiago Norte)",
    "179 - SBA - Maipu (816 Santiago Sur)",
    "186 - SBA - El Bosque (814 Santiago Norte)",
    "198 - SBA - Conchali (814 Santiago Norte)",
    "451 - SBA - Melipilla (816 Santiago Sur)",
    "490 - SBA - Isla De Maipo (816 Santiago Sur)",
    "503 - SBA - Gabriela (816 Santiago Sur)",
    "504 - SBA - Travesía (814 Santiago Norte)",
    "507 - SBA - Carrascal (814 Santiago Norte)",
    "511 - SBA - Independencia (814 Santiago Norte)",
    "512 - SBA - Peñaflor (816 Santiago Sur)",
    "529 - SBA - Lo Ovalle (816 Santiago Sur)",
    "533 - SBA - Carmen (816 Santiago Sur)",
    "535 - SBA - Ciudad Satélite (816 Santiago Sur)",
    "538 - SBA - Tobalaba 538 (814 Santiago Norte)",
    "540 - SBA - Recoleta (814 Santiago Norte)",
    "541 - SBA - Jaime Guzmán (814 Santiago Norte)",
    "553 - SBA - Buin (816 Santiago Sur)",
    "579 - SBA - Lampa (814 Santiago Norte)",
    "580 - SBA - El Monte (816 Santiago Sur)",
    "622 - SBA - Quinta Normal (814 Santiago Norte)",
    "783 - SBA - Curacavi (813 V Costa)"
  ],
  "CM": [
    "159 - M - Suc. 159 Peñalolén (Mercado Central Mayorista I)",
    "219 - M - Suc. 219 Dark Store (Mercado Central Mayorista I)",
    "453 - M - Suc. 453 - Conchalí (Mercado Central Mayorista II)",
    "939 - M - Suc. 939 Cerrillos (Mercado Central Mayorista I)",
    "977 - M - Suc. 977 Pudahuel - San Pablo (Mercado Central Mayorista II)",
    "990 - M - Suc. 990 Camino Melipilla (Mercado Central Mayorista I)"
  ]
};

        function updateLocales() {
            const formatoSelect = document.getElementById("formatoSelect");
            const localSelect = document.getElementById("localSelect");
            const formatoSeleccionado = formatoSelect.value;

            // Limpiar opciones anteriores
            localSelect.innerHTML = '<option value="">Seleccione el local...</option>';

            if (formatoSeleccionado && localesPorFormato[formatoSeleccionado]) {
                // Habilitar el select
                localSelect.disabled = false;
                
                // Llenar con las nuevas opciones
                localesPorFormato[formatoSeleccionado].forEach(local => {
                    const option = document.createElement("option");
                    option.value = local;
                    option.textContent = local;
                    localSelect.appendChild(option);
                });
            } else {
                // Deshabilitar si no hay formato válido
                localSelect.innerHTML = '<option value="">Primero seleccione un formato</option>';
                localSelect.disabled = true;
            }
        }
    </script>
</head>
<body class="bg-blue-50 text-walmart-text p-4 md:p-8 font-sans pb-20">
    <div class="max-w-3xl mx-auto bg-white rounded-xl shadow-lg overflow-hidden">
        <!-- Header -->
        <div class="bg-walmart-blue p-6 text-white flex justify-between items-center border-b-4 border-walmart-spark">
            <div>
                <h1 class="text-2xl font-bold">En los zapatos del cliente</h1>
                <p class="text-sm opacity-90 mt-1">Evaluación de Experiencia en Tienda</p>
            </div>
            <!-- Spark icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-walmart-spark" viewBox="0 0 100 100" fill="currentColor">
                <path d="M50,4 C53,4 56,6 56,9 L56,33 C56,36 53,39 50,39 C47,39 44,36 44,33 L44,9 C44,6 47,4 50,4 Z M50,96 C47,96 44,94 44,91 L44,67 C44,64 47,61 50,61 C53,61 56,64 56,67 L56,91 C56,94 53,96 50,96 Z M89,27 C91,30 90,34 87,36 L66,48 C63,50 60,49 58,46 C56,43 57,39 60,37 L81,25 C84,23 88,24 89,27 Z M11,73 C9,70 10,66 13,64 L34,52 C37,50 40,51 42,54 C44,57 43,61 40,63 L19,75 C16,77 12,76 11,73 Z M11,27 C12,24 16,23 19,25 L40,37 C43,39 44,43 42,46 C40,49 37,50 34,48 L13,36 C10,34 9,30 11,27 Z M89,73 C88,76 84,77 81,75 L60,63 C57,61 56,57 58,54 C60,51 63,50 66,52 L87,64 C90,66 91,70 89,73 Z" />
            </svg>
        </div>

        <!-- Form -->
        <form method="POST" action="/submit" class="p-6 md:p-8 space-y-8">
            
            <!-- Mensaje de Introducción -->
            <div class="bg-white border-l-4 border-walmart-blue p-4 rounded-r-lg shadow-sm">
                <div class="flex items-start">
                    <div class="flex-shrink-0">
                        <svg class="h-5 w-5 text-walmart-blue mt-0.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="ml-3">
                        <h3 class="text-sm font-bold text-walmart-blue">¡Gracias por participar!</h3>
                        <div class="mt-2 text-sm text-gray-700 space-y-2">
                            <p>Tu apoyo es fundamental para ayudarnos a mejorar la experiencia de nuestros clientes en tienda.</p>
                            <p>🕵️‍♂️ <strong>Recuerda:</strong> Durante tu recorrido es muy importante que <strong>pases desapercibido</strong> y actúes como un cliente regular. De esta forma, nuestra evaluación será lo más objetiva y real posible.</p>
                            <p>¡Disfruta tu visita y gracias por ponerte en los zapatos del cliente!</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Datos Iniciales -->
            <section class="space-y-4">
                <h2 class="text-xl font-semibold border-b pb-2 text-walmart-blue">Datos Iniciales</h2>
                
                <!-- NEW QUESTION: Usuario Walmart -->
                <div class="grid grid-cols-1 gap-4 mb-4">
                    <div>
                        <label class="block text-sm font-medium mb-1">1. Ingresa tu usuario walmart <span class="text-red-500">*</span></label>
                        <input type="text" name="usuario" required placeholder="Ej: j0m0rfa" class="w-full border-gray-300 rounded-md shadow-sm p-3 border focus:ring-walmart-blue focus:border-walmart-blue">
                    </div>
                </div>

                <div class="grid grid-cols-1 gap-4">
                    <div>
                        <label class="block text-sm font-medium mb-1">2. ¿En qué formato te encuentras? <span class="text-red-500">*</span></label>
                        <select name="formato" id="formatoSelect" required class="w-full border-gray-300 rounded-md shadow-sm p-3 border focus:ring-walmart-blue focus:border-walmart-blue bg-white" onchange="updateLocales()">
                            <option value="">Seleccione formato...</option>
                            <option value="Lider">Lider</option>
                            <option value="Express">Express de Lider</option>
                            <option value="SBA">SuperBodega Acuenta (SBA)</option>
                            <option value="CM">Central Mayorista (CM)</option>
                        </select>
                    </div>
                </div>
                
                <div class="grid grid-cols-1 gap-4">
                    <div>
                        <label class="block text-sm font-medium mb-1">3. ¿En qué local te encuentras? <span class="text-red-500">*</span></label>
                        <select name="local" id="localSelect" required disabled class="w-full border-gray-300 rounded-md shadow-sm p-3 border focus:ring-walmart-blue focus:border-walmart-blue bg-white disabled:bg-gray-100 disabled:text-gray-400">
                            <option value="">Primero seleccione un formato</option>
                        </select>
                    </div>
                </div>
            </section>

            <!-- General -->
            <section class="space-y-6">
                <h2 class="text-xl font-semibold border-b pb-2 text-walmart-blue">General</h2>
                
                <div class="bg-white p-4 rounded-lg border border-gray-200 space-y-5 shadow-sm">
                    
                    <div>
                        <label class="block text-sm font-medium mb-2">4. ¿El guardia aplicó regla de los 3 metros (Saludo)?</label>
                        <div class="flex space-x-6">
                            <label class="inline-flex items-center"><input type="radio" name="q4" value="si" class="w-5 h-5 text-walmart-blue focus:ring-walmart-blue border-gray-300"> <span class="ml-2 text-md">Sí</span></label>
                            <label class="inline-flex items-center"><input type="radio" name="q4" value="no" class="w-5 h-5 text-walmart-blue focus:ring-walmart-blue border-gray-300"> <span class="ml-2 text-md">No</span></label>
                        </div>
                    </div>

                    <hr class="border-gray-200">

                    <div>
                        <label class="block text-sm font-medium mb-2">5. ¿Los colaboradores en los pasillos aplicaron la regla de los 3 metros (Saludo)?</label>
                        <div class="flex space-x-6">
                            <label class="inline-flex items-center"><input type="radio" name="q5" value="si" class="w-5 h-5 text-walmart-blue focus:ring-walmart-blue border-gray-300"> <span class="ml-2 text-md">Sí</span></label>
                            <label class="inline-flex items-center"><input type="radio" name="q5" value="no" class="w-5 h-5 text-walmart-blue focus:ring-walmart-blue border-gray-300"> <span class="ml-2 text-md">No</span></label>
                        </div>
                    </div>

                    <hr class="border-gray-200">

                    <div>
                        <label class="block text-sm font-medium mb-2">6. Pregúntale a un colaborador sobre la ubicación/stock de un producto. ¿El colaborador fue resolutivo?</label>
                        <div class="flex space-x-6">
                            <label class="inline-flex items-center"><input type="radio" name="q6" value="si" class="w-5 h-5 text-walmart-blue focus:ring-walmart-blue border-gray-300"> <span class="ml-2 text-md">Sí</span></label>
                            <label class="inline-flex items-center"><input type="radio" name="q6" value="no" class="w-5 h-5 text-walmart-blue focus:ring-walmart-blue border-gray-300"> <span class="ml-2 text-md">No</span></label>
                        </div>
                    </div>

                    <hr class="border-gray-200">

                    <div>
                        <label class="block text-sm font-medium mb-2">7. ¿Hubo una atención amable durante toda tu experiencia?</label>
                        <div class="flex space-x-6">
                            <label class="inline-flex items-center"><input type="radio" name="q7" value="si" class="w-5 h-5 text-walmart-blue focus:ring-walmart-blue border-gray-300"> <span class="ml-2 text-md">Sí</span></label>
                            <label class="inline-flex items-center"><input type="radio" name="q7" value="no" class="w-5 h-5 text-walmart-blue focus:ring-walmart-blue border-gray-300"> <span class="ml-2 text-md">No</span></label>
                        </div>
                    </div>

                </div>
            </section>

            <!-- Zona de Pago -->
            <section class="space-y-6">
                <div>
                    <h2 class="text-xl font-semibold border-b pb-2 text-walmart-blue">Zona de Pago</h2>
                    <p class="text-sm text-gray-500 mt-2 italic">En caso de que necesites realizar una compra en el local te pedimos rellenar la siguiente información relacionada al protocolo de atención en zona de pago.</p>
                </div>
                
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 bg-white p-4 rounded-lg border border-gray-200 shadow-sm">
                    
                    <div class="md:col-span-2">
                        <label class="block text-sm font-medium mb-2">8. ¿La persona en caja es un colaborador externo o interno? <span class="text-xs text-gray-500 font-normal">(puedes identificarlo por su polera)</span></label>
                        <div class="flex space-x-6">
                            <label class="inline-flex items-center"><input type="radio" name="q8" value="interno" class="w-5 h-5 text-walmart-blue border-gray-300"> <span class="ml-2 text-md">Interno</span></label>
                            <label class="inline-flex items-center"><input type="radio" name="q8" value="externo" class="w-5 h-5 text-walmart-blue border-gray-300"> <span class="ml-2 text-md">Externo</span></label>
                        </div>
                    </div>

                    <div>
                        <label class="block text-sm font-medium mb-2">9. ¿El colaborador en caja aplicó la regla de los 3 metros? (Saludo)</label>
                        <div class="flex space-x-6">
                            <label class="inline-flex items-center"><input type="radio" name="q9" value="si" class="w-5 h-5 text-walmart-blue border-gray-300"> <span class="ml-2 text-md">Sí</span></label>
                            <label class="inline-flex items-center"><input type="radio" name="q9" value="no" class="w-5 h-5 text-walmart-blue border-gray-300"> <span class="ml-2 text-md">No</span></label>
                        </div>
                    </div>

                    <div>
                        <label class="block text-sm font-medium mb-2">10. ¿La persona en caja solicitó tus datos para acumulación PMC?</label>
                        <div class="flex space-x-6">
                            <label class="inline-flex items-center"><input type="radio" name="q10" value="si" class="w-5 h-5 text-walmart-blue border-gray-300"> <span class="ml-2 text-md">Sí</span></label>
                            <label class="inline-flex items-center"><input type="radio" name="q10" value="no" class="w-5 h-5 text-walmart-blue border-gray-300"> <span class="ml-2 text-md">No</span></label>
                        </div>
                    </div>

                    <div>
                        <label class="block text-sm font-medium mb-2">11. ¿Preguntó si paga con Lider BCI?</label>
                        <div class="flex space-x-6">
                            <label class="inline-flex items-center"><input type="radio" name="q11" value="si" class="w-5 h-5 text-walmart-blue border-gray-300"> <span class="ml-2 text-md">Sí</span></label>
                            <label class="inline-flex items-center"><input type="radio" name="q11" value="no" class="w-5 h-5 text-walmart-blue border-gray-300"> <span class="ml-2 text-md">No</span></label>
                        </div>
                    </div>

                    <div>
                        <label class="block text-sm font-medium mb-2">12. ¿Preguntó si deseas la boleta en tu mail?</label>
                        <div class="flex space-x-6">
                            <label class="inline-flex items-center"><input type="radio" name="q12" value="si" class="w-5 h-5 text-walmart-blue border-gray-300"> <span class="ml-2 text-md">Sí</span></label>
                            <label class="inline-flex items-center"><input type="radio" name="q12" value="no" class="w-5 h-5 text-walmart-blue border-gray-300"> <span class="ml-2 text-md">No</span></label>
                        </div>
                    </div>

                    <div class="md:col-span-2">
                        <label class="block text-sm font-medium mb-2">13. ¿Se despidió amablemente?</label>
                        <div class="flex space-x-6">
                            <label class="inline-flex items-center"><input type="radio" name="q13" value="si" class="w-5 h-5 text-walmart-blue border-gray-300"> <span class="ml-2 text-md">Sí</span></label>
                            <label class="inline-flex items-center"><input type="radio" name="q13" value="no" class="w-5 h-5 text-walmart-blue border-gray-300"> <span class="ml-2 text-md">No</span></label>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Comentarios Adicionales MOVED TO END -->
            <section class="space-y-4">
                <h2 class="text-xl font-semibold border-b pb-2 text-walmart-blue">Comentarios Adicionales</h2>
                <div>
                    <label class="block text-sm font-medium mb-2">14. ¿Algún comentario adicional sobre la visita? (Oportunidades, fortalezas, etc.)</label>
                    <textarea name="q14" rows="4" placeholder="Escribe aquí tus observaciones finales..." class="w-full border-gray-300 rounded-md shadow-sm p-3 border focus:ring-walmart-blue focus:border-walmart-blue"></textarea>
                </div>
            </section>

            <div class="pt-6">
                <button type="submit" class="w-full bg-walmart-blue hover:bg-walmart-blueHover text-white font-bold py-4 px-4 rounded-xl transition duration-200 shadow-md text-lg">
                    Enviar
                </button>
            </div>
        </form>
    </div>
</body>
</html>